@import '../../../scss/variable';

.card {
  position: relative;
  border: none;
  transition: .1s linear;
  margin-left: 20px;
  // margin-right: 20px;
  min-height: 500px;
  height: 100%;
  flex-direction: column;
  margin-bottom: 10px;

  &:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &-price {
    font-family: $fontBold;
  }

  &-text {
    color: $gray !important;
    margin-bottom: 15px;
    line-height: 20px;
    min-height: 80px;
    margin-top: auto;
    height: 100%;
  }

  &-body {
    padding: 16px;
    background-color: $white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.card__buy {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid rgb(227, 24, 54);
  border-radius: 22px;
  outline: none;
  background-color: rgb(227, 24, 54);
  color: $white;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-top: auto;
  text-decoration: none;

  &-btn {
    border: none;
    outline: none;
    cursor: pointer;
    color: $white;
    background-color: transparent;
  }
}