@font-face {
  font-family: 'Proximanov-black';
  src: url('../assets/fonts/proximanova_black.otf') format('truetype'),
  url('../assets/fonts/proximanova_black.ttf') format('truetype'),
  url('../assets/fonts/proximanova_blackit.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Proximanov-bold';
  src: url('../assets/fonts/proximanova_bold.otf') format('opentype'),
  url('../assets/fonts/proximanova_boldit.otf') format('opentype'),
  url('../assets/fonts/proximanova_extrabold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Proximanov-light';
  src: url('../assets/fonts/proximanova_regular.ttf') format('truetype'),
  url('../assets/fonts/proximanova_light.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

